@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body { 
    background-color: #fff;
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 50px; /* might not need padding*/
    overflow-x: scroll;

}

.container {
    background-color: #f5f5f5;
    width: 1000px;
    padding: 50px;
    align-items: left;
    border-top: 6px solid #5a5a5a;
    border-bottom: 3px solid #5a5a5a;
    border-left: 1px ridge #f5f5f5;
    border-right: 1px ridge #f5f5f5;
    /*border-radius: 2%;
    /*border-style: ridge;
    /*think about how to make page stay the same size like a word document does when the screen shrinks*/

}
.intro {
    align-items: center;
    
}

h1 {
    font-size: 48pt;
    text-align: center;
    display: inline-block;
    width: 100px;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.line {
    border-bottom: 2px solid #ccc;
    display: block;
    margin-bottom: 10px;
    
}

.contact {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 70%;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
    
} /* will need to edit*/

.contact p {
    padding-left: 60px;   
}

h2 {
    color: #4073c4;
    margin: 0px;
    margin-bottom: 5 px;
    font-size: 20pt;
}

.summary {
    padding: 0px;
}

/*.loc {
    font-style: italic;
}*/

ul {
    padding-right: 5px;
    margin: 0px;
}

.job h3, .job h4, .job h5 {
    display: inline;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}

.job h4 {
    font-weight: normal;
    font-style: italic;
}

.job h5{
    font-weight: normal;
    margin-left: 350px;
}
.job h6 {
    font-size: 12pt;
    margin: 0px;
}

.school h3, .school h4, .school h5 {
    display: inline;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}

.school h4 {
    font-weight: normal;
    font-style: italic;
}

.school h5{
    font-weight: normal;
    margin-left: 350px;
}
.school h6 {
    font-size: 12pt;
    margin: 0px;
}